{{#each this}}
    <section class="homework" id="{{assignmentSlug this}}">
        <div class="module">
            <div class="title">
                <h1><a href="#{{assignmentSlug this}}">{{Label}}</a></h1>
                <p>{{{Description}}}</p>
            </div>
            {{> _assignment-details }}
        </div>
    </section>
{{/each}}
