.phone-only-block {
  display: block;
}
body {
  padding: 10px;
  padding-bottom: 70px;
}
body > nav {
  width: 100%;
  height: 60px;
  top: initial;
  bottom: 0;
  display: flex;
}
body > nav > a {
  width: auto;
  flex: 0 0 14.285714285714286%;
  border-bottom: none;
  border-right: 1px solid #47c0f4;
  touch-action: manipulation;
}
body > nav > a:hover {
  width: auto;
}
#home {
  padding-top: 20px;
}
#home > h1 {
  text-align: center;
  margin-bottom: 40px;
}
#home > h1 > span,
#home > h1 > span .department {
  margin-top: 10px;
  font-size: 12px;
}
#home > h1 > span .department {
  margin-top: 5px;
  display: block;
}
#home p span {
  display: inline-block;
  width: calc(100% - 145px);
}
#home p strong {
  width: 145px;
}
#textbooks img {
  max-width: 30%;
  width: auto;
  height: auto;
  margin-right: 5px;
}
#lectures > section > h1 {
  font-size: 24px;
}
#lectures > section .date {
  display: inline-block;
}
#lectures > section .topics,
#lectures > section .references {
  padding-right: 0;
}
#lectures > section > table {
  display: block;
  margin-top: 0;
}
#lectures > section > table:not(:last-child) {
  margin-bottom: 20px;
  border-bottom: 2px solid #d9d9d9;
}
#lectures > section > table thead {
  display: none;
}
#lectures > section > table tbody td,
#lectures > section > table tbody th {
  display: block;
  margin-bottom: 25px;
  padding-top: 0;
}
#assignments .homework strong {
  display: inline-block;
}
#assignments .homework .deadline,
#assignments .homework .files {
  width: auto;
}
#assignments .homework .module > * {
  display: block;
  padding-bottom: 10px;
}
#assignments .homework .files > * {
  margin-right: 10px;
}
#people ul {
  display: block;
}
#people .person {
  display: block;
  width: auto;
  flex-basis: auto;
  margin-right: 0;
}
#people .person > img {
  float: left;
}
