body > section
  padding-bottom: 50px

  > h1
    margin-bottom: 30px

body > nav > a:hover
  width: auto

#lectures > section
  .label, .references, .slides
    width: auto

#assignments
  .solutions, .submit
    margin-top: 10px

    strong
      display: inline-block
      margin-right: 5px

  .submit
    text-align: left
    .icon
      display: inline-block
      &::before
        font-size: 16px

#this-week
  width: 600px

  section
    width: 220px

